

@font-face {
  font-family: 'fh';
  src: url('images/fuente.ttf') format('truetype'),
}

body{
  background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-family: 'fh', sans-serif;
}

.fondo{
  display: flex;
  justify-content: center;
  color: white;
  -webkit-text-stroke: black 1px;
  text-align: center;
}
.titulo{
  color: #ffffff; /* Cambia el color del título a azul */
  font-family: 'fh', sans-serif; /* Utiliza la fuente personalizada */
  width: 100%;
  font-size: 50px;
}

#juego {
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  color: white;
font-size: 40px; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

#tablero {
  background-color: rgba(50, 163, 50, 0.103);
  width: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nuevaronda {
  background-color: transparent;
  color: yellow;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-stroke: black 0.5px;

}

#manocrupier,
#manojugador {
  margin-bottom: 20px;
}

#botoncrupier,
#botonjugador {
  display: flex;
  gap: 10px;
}

h1 {
  margin-bottom: 10px;
}

#manocrupier h1,
#manojugador h1 {
  font-size: 1.2rem;
}

#manocrupier .mano,
#manojugador .mano {
  display: flex;
  gap: 10px;
}

#manocrupier .carta,
#manojugador .carta {
  width: 200px;
}

#manocrupier .carta img,
#manojugador .carta img {
  width: 250px;
  height: auto;
}

/* CSS */
button {
  font-family: 'fh', sans-serif;
  appearance: button;
  background-color: #634430;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

button:after {
  background-clip: padding-box;
  background-color: #88512c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

button:active {
  border-width: 4px 0 0;
  background: none;
}